.cardCollection {
    width: 100%;
    background: lightgrey;
}

.cardCollection__wrapper {
	padding: 20px 0;
	display: flex;
    column-gap: 20px;
    max-width: 1400px;
    margin: 30px auto 0 auto;
    overflow-x: scroll;
}