.cardWrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 40px 0 40px 0;
	margin: 0 20px 0 20px;
}

.cardWrapper--rtl {
	flex-direction: row-reverse;
}

.cardWrapper__text {
	background-color: rgb(235, 235, 235);
	border-radius: 20px;
	text-align: left;
	padding: 40px 80px;
	color:rgb(65, 65, 65);
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1 1;
	min-width: 300px;
}

.cardWrapper__text ul {
	list-style: disc;
}

.cardWrapper h1 {
	color: black;
	margin: 0;
}


@media (max-width: 1000px) {
	.cardWrapper {
		justify-content: center;
	}
}
