.ZoomWrapper {
	overflow: hidden;
	border-radius: 10px;
}

.Zoom {
	transition: transform .8s;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	object-fit: cover;
}

.Zoom:hover {
	transform: scale(1.05);
}